@using CarBook_OnionArch.Dto.StatisticsDtos
@model StatisticsDto

@{
    ViewData["Title"] = "İstatistikler";
    Layout = "~/Areas/Admin/Views/AdminLayout/AdmLayout.cshtml";

    int automaticTransmissionCarRate = Model.CarCount == 0 ? 0 : (int)((Model.AutomaticTransmissionCarCount * 100) / Model.CarCount);
}

<!-- start row 1 -->
<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card bg-primary border-primary">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Aktif Olanlar</span>
                    <h5 class="card-title mb-0 text-white">Yazar Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0 text-white">
                           @Model.AuthorCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">17% <i class="mdi mdi-arrow-up"></i></span>
                    </div>
                </div>
            </div>

        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card bg-success border-success">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Aktif Araçlar</span>
                    <h5 class="card-title mb-0 text-white">Otomatik Vitesli Araç Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @Model.AutomaticTransmissionCarCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">%5 <i class="mdi mdi-arrow-down"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @automaticTransmissionCarRate%;"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card bg-warning border-warning">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Günlük</span>
                    <h5 class="card-title mb-0 text-white">Ortalama Kiralık Araç Fiyatı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @Model.AverageDailyRentPrice.ToString("0.00")₺
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">8% <i class="mdi mdi-arrow-up"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card bg-info border-info">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Haftalık</span>
                    <h5 class="card-title mb-0 text-white">Ortalama Kiralık Araç Fiyatı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @Model.AverageWeeklyRentPrice.ToString("0.00")₺
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">15% <i class="mdi mdi-arrow-down"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->
</div>
<!-- end row 1 -->

<!-- start row 2 -->
<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card bg-primary border-primary">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Aylık</span>
                    <h5 class="card-title mb-0 text-white">Ortalama Kiralık Araç Fiyatı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0 text-white">
                            @Model.AverageMonthlyRentPrice.ToString("0.00")₺
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">12% <i class="mdi mdi-arrow-up"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card bg-success border-success">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Aylık</span>
                    <h5 class="card-title mb-0 text-white">Blog Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @Model.BlogCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">14% <i class="mdi mdi-arrow-down"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: 15%;"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card bg-warning border-warning">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Yıllık</span>
                    <h5 class="card-title mb-0 text-white">En Çok Yorum Alan Blog</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-12">
                        <h5 class="d-flex align-items-center text-white mb-0">
                            @Model.BlogWithMostCommentsTitle
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card bg-info border-info">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Aktif Olanlar</span>
                    <h5 class="card-title mb-0 text-white">Marka Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @Model.BrandCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">22% <i class="mdi mdi-arrow-down"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->
</div>
<!-- end row 2 -->

<!-- start row 3 -->
<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card bg-primary border-primary">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Aktif Markalar</span>
                    <h5 class="card-title mb-0 text-white">En Çok Araca Sahip Marka</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0 text-white">
                            @Model.BrandWithMostCarsName
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">12.5% <i class="mdi mdi-arrow-up"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card bg-success border-success">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Aktif Araçlar</span>
                    <h5 class="card-title mb-0 text-white">Araç Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @Model.CarCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">18.71% <i class="mdi mdi-arrow-down"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: 87%;"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card bg-warning border-warning">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Aktif</span>
                    <h5 class="card-title mb-0 text-white">1000 KM Altı Araç Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @Model.CarCountUnder1000Km
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">3% <i class="mdi mdi-arrow-up"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: 15%;"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card bg-info border-info">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Günlük</span>
                    <h5 class="card-title mb-0 text-white">En Yüksek Kiralama Ücretine Sahip Araç</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-12">
                        <h5 class="d-flex align-items-center text-white mb-0">
                           @Model.CarWithHighestDailyRentPriceName
                        </h5>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: 57%;"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->
</div>
<!-- end row 3 -->

<!-- start row 4-->
<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card bg-primary border-primary">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Yıllık</span>
                    <h5 class="card-title mb-0 text-white">En Düşük Kiralama Ücretine Sahip Araç</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-12">
                        <h5 class="d-flex align-items-center mb-0 text-white">
                            @Model.CarWithLowestYearlyRentPriceName
                        </h5>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card bg-success border-success">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Tüm Araçlar</span>
                    <h5 class="card-title mb-0 text-white">Dizel Araç Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @Model.DieselCarCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">18.71% <i class="mdi mdi-arrow-down"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card bg-warning border-warning">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Tüm Araçlar</span>
                    <h5 class="card-title mb-0 text-white">Benzinli Araç Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @Model.GasolineCarCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">12% <i class="mdi mdi-arrow-up"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: 28%;"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card bg-info border-info">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Tümü</span>
                    <h5 class="card-title mb-0 text-white">Lokasyon Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @Model.LocationCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">17.8% <i class="mdi mdi-arrow-down"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: 100%;"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->
</div>
<!-- end row 4 -->