@using CarBook_OnionArch.Dto.CarDtos
@model ResultCarWithRelationsDto

@{
    ViewData["Title"] = "Araç Detayı";
    Layout = "~/Views/UILayout/Index.cshtml";

    int oneStarCommentsCount = Random.Shared.Next(0, 5);
    int twoStarCommentsCount = Random.Shared.Next(6, 10);
    int threeStarCommentsCount = Random.Shared.Next(11, 15);
    int fourStarCommentsCount = Random.Shared.Next(16, 30);
    int fiveStarCommentsCount = Random.Shared.Next(31, 50);
    int totalCommentsCount = oneStarCommentsCount + twoStarCommentsCount + threeStarCommentsCount + fourStarCommentsCount + fiveStarCommentsCount;
    int onestarPercentage = totalCommentsCount == 0 ? 0 : (oneStarCommentsCount * 100) / totalCommentsCount;
    int twostarPercentage = totalCommentsCount == 0 ? 0 : (twoStarCommentsCount * 100) / totalCommentsCount;
    int threestarPercentage = totalCommentsCount == 0 ? 0 : (threeStarCommentsCount * 100) / totalCommentsCount;
    int fourstarPercentage = totalCommentsCount == 0 ? 0 : (fourStarCommentsCount * 100) / totalCommentsCount;
    int fivestarPercentage = totalCommentsCount == 0 ? 0 : (fiveStarCommentsCount * 100) / totalCommentsCount;
}

<section class="ftco-section ftco-car-details">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="car-details">
                    <div class="img rounded" style="background-image: url(@Model.bigImageUrl);"></div>
                    <div class="text text-center">
                        <span class="subheading">@Model.brand?.name</span>
                        <h2>@Model.model</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Kilometre -->
            <div class="col-md d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                    <div class="media-body py-md-4">
                        <div class="d-flex mb-3 align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="flaticon-dashboard"></span>
                            </div>
                            <div class="text">
                                <h3 class="heading mb-0 pl-3">
                                    Kilometre
                                    <span>@Model.mileage km</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Vites -->
            <div class="col-md d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                    <div class="media-body py-md-4">
                        <div class="d-flex mb-3 align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="flaticon-pistons"></span>
                            </div>
                            <div class="text">
                                <h3 class="heading mb-0 pl-3">
                                    Vites Tipi
                                    <span>@Model.transmission</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Koltuk -->
            <div class="col-md d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                    <div class="media-body py-md-4">
                        <div class="d-flex mb-3 align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="flaticon-car-seat"></span>
                            </div>
                            <div class="text">
                                <h3 class="heading mb-0 pl-3">
                                    Koltuk Sayısı
                                    <span>@Model.seat Yetişkin</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bagaj -->
            <div class="col-md d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                    <div class="media-body py-md-4">
                        <div class="d-flex mb-3 align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="flaticon-backpack"></span>
                            </div>
                            <div class="text">
                                <h3 class="heading mb-0 pl-3">
                                    Bagaj
                                    <span>@Model.luggage Orta Bavul</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Yakıt -->
            <div class="col-md d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                    <div class="media-body py-md-4">
                        <div class="d-flex mb-3 align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="flaticon-diesel"></span>
                            </div>
                            <div class="text">
                                <h3 class="heading mb-0 pl-3">
                                    Yakıt Tipi
                                    <span>@Model.fuel</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sekmeler -->
        <div class="row">
            <div class="col-md-12 pills">
                <div class="bd-example bd-example-tabs">
                    <div class="d-flex justify-content-center">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

                            <li class="nav-item">
                                <a class="nav-link active" id="pills-description-tab" data-toggle="pill"
                                   href="#pills-description" role="tab" aria-controls="pills-description"
                                   aria-expanded="true">
                                    Özellikler
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-manufacturer-tab" data-toggle="pill"
                                   href="#pills-manufacturer" role="tab" aria-controls="pills-manufacturer"
                                   aria-expanded="true">
                                    Açıklama
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-review-tab" data-toggle="pill"
                                   href="#pills-review" role="tab" aria-controls="pills-review"
                                   aria-expanded="true">
                                    Yorumlar
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content" id="pills-tabContent">
                        <!-- Özellikler -->
                        <div class="tab-pane fade show active" id="pills-description" role="tabpanel"
                             aria-labelledby="pills-description-tab">
                            <div class="row">
                                @{
                                    int totalFeatures = Model.carFeatures?.Count() ?? 0;
                                    int columns = 3;
                                    var features = Model.carFeatures;
                                    int itemsPerColumn = (int)Math.Ceiling((double)totalFeatures / columns);

                                    for (int i = 0; i < columns; i++)
                                    {
                                        <div class="col-md-4">
                                            <ul class="features">
                                                @for (int j = i * itemsPerColumn; j < Math.Min((i + 1) * itemsPerColumn, totalFeatures); j++)
                                                {
                                                    <li class="@(features![j].isAvailable ? "check" : "remove")">
                                                        <span class="ion-ios-checkmark"></span>@features[j].feature!.name
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                }
                            </div>
                        </div>

                        <!-- Açıklama -->
                        <div class="tab-pane fade" id="pills-manufacturer" role="tabpanel"
                             aria-labelledby="pills-manufacturer-tab">
                            <p>
                                @Model.carDescriptions!.FirstOrDefault()!.detail
                            </p>
                        </div>

                        <!-- Yorumlar -->
                        <div class="tab-pane fade" id="pills-review" role="tabpanel"
                             aria-labelledby="pills-review-tab">
                            <div class="row">
                                <div class="col-md-7">
@*                                     <h3 class="head">Yorum Sayısı: @Model.reviews!.Count()</h3>
 *@                                    <h3 class="head">Yorum Sayısı: @totalCommentsCount</h3>

                                    @foreach (var review in Model.reviews!)
                                    {
                                        <div class="review d-flex">
                                            <div class="user-img" style="background-image: url('@review.user!.imagePath')"></div>
                                            <div class="desc">
                                                <h4>
                                                    <span class="text-left">@(@review.user!.firstName + " " + @review.user.lastName)</span>
                                                    <span class="text-right">@review.createDate.ToString("dd.MM.yyyy HH:mm")</span>
                                                </h4>
                                                <p class="star">
                                                    <span>
                                                        @for (int star = 0; star < review.rating; star++)
                                                        {
                                                            <i class="ion-ios-star"></i>
                                                        }
                                                    </span>
                                                    <span class="text-right">
                                                        <a href="#" class="reply"><i class="icon-reply"></i></a>
                                                    </span>
                                                </p>
                                                <p>
                                                    @review.comment
                                                </p>
                                            </div>
                                        </div>
                                    }

                                </div>

                                <!-- Yorum Özeti -->
                                <div class="col-md-5">
                                    <div class="rating-wrap">
                                        <h3 class="head">Yorum Yapın</h3>
                                        <div class="wrap">
                                            <p class="star">
                                                <span>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    (@fivestarPercentage%)
                                                </span>
                                                <span>@fiveStarCommentsCount Yorum</span>
                                            </p>
                                            <p class="star">
                                                <span>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    (@fourstarPercentage%)
                                                </span>
                                                <span>@fourStarCommentsCount Yorum</span>
                                            </p>
                                            <p class="star">
                                                <span>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    (@threestarPercentage%)
                                                </span>
                                                <span>@threeStarCommentsCount Yorum</span>
                                            </p>
                                            <p class="star">
                                                <span>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    (@twostarPercentage%)
                                                </span>
                                                <span>@twoStarCommentsCount Yorum</span>
                                            </p>
                                            <p class="star">
                                                <span>
                                                    <i class="ion-ios-star"></i>
                                                    (@onestarPercentage%)
                                                </span>
                                                <span>@oneStarCommentsCount Yorum</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- row -->
                        </div> <!-- /Yorumlar -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>