@using CarBook_OnionArch.Dto.CarDtos
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<ResultCarWithRelationsDto>

@{
    ViewData["Title"] = "Araçlar";
    ViewData["SuvTitle"] = "Araç Listesi";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<style>
    .pagination {
        display: flex;
        justify-content: center;
    }
</style>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            @foreach (var car in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end"
                             style="background-image: url(@car.coverImageUrl); height: 200px; background-size: cover;">
                        </div>
                        <div class="text p-3">
                            <h2 class="mb-0">
                                <a href="#">@car.model</a>
                            </h2>
                            <div class="d-flex mb-3">
                                <span class="cat">@car.brand?.name</span>
                                <p class="price ml-auto" name=>
                                    @car.carPricings?.FirstOrDefault()?.amount₺ <span>/gün</span>
                                </p>
                            </div>
                            <p class="d-flex mb-0 d-block">
                                <form asp-action="ReservationDetails" method="get" style="display:inline;">
                                    <input type="hidden" name="carId" value="@car.id" />
                                    <input type="hidden" name="dailyPrice" value="@car.carPricings?.FirstOrDefault()?.amount" />
                                    <button type="submit" class="btn btn-primary py-2 mr-1">Şimdi Kirala</button>
                                </form>
                                <a href="/Car/Details/@car.id" class="btn btn-secondary py-2 ml-1">Detaylar</a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
    </div>
</section>
