@using CarBook_OnionArch.Dto.BlogDtos
@model ResultBlogByIdWithDetailsDto

@{
    ViewData["Title"] = "Blog İçeriği";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate">
                <h2 class="mb-3">@Model.title</h2>
                <p>@Model.content</p>

                <div class="tag-widget post-tag-container mb-5 mt-5">
                    <div class="tagcloud">
                        <a href="#" class="tag-cloud-link">Life</a>
                        <a href="#" class="tag-cloud-link">Sport</a>
                        <a href="#" class="tag-cloud-link">Tech</a>
                        <a href="#" class="tag-cloud-link">Travel</a>
                    </div>
                </div>

                <div class="about-author d-flex p-4 bg-light">
                    <div class="bio mr-5">
                        <img src="@Model.author.imageUrl" alt="Image placeholder" class="img-fluid mb-4">
                    </div>
                    <div class="desc">
                        <h3>@Model.author.fullName</h3>
                        <p>@Model.author.description</p>
                    </div>
                </div>


                <div class="pt-5 mt-5">
                    <h3 class="mb-5">@Model.comments.Count() Adet Yorum</h3>
                    <ul class="comment-list">
                        @foreach (var comment in Model.comments)
                        {
                            <li class="comment">
                                <div class="vcard bio">
                                    <img src="@comment.authorImageUrl" alt="Image placeholder">
                                </div>
                                <div class="comment-body">
                                    <h3>@comment.authorName</h3>
                                    <div class="meta">@comment.createdDate.ToLongDateString()</div>
                                    <p>@comment.content</p>
                                    <p><a href="#CreateComment" class="reply">Cevapla</a></p>
                                </div>
                            </li>
                        }
                    </ul>
                    <!-- END comment-list -->

                    @await Component.InvokeAsync("CreateCommentComponentPartial")
                </div>

            </div> <!-- .col-md-8 -->
            <div class="col-md-4 sidebar ftco-animate">

                @await Component.InvokeAsync("BlogCategoriesComponentPartial")


                @await Component.InvokeAsync("RecentBlogsComponentPartial")

            </div>

        </div>
    </div>
</section> <!-- .section -->
