@using CarBook_OnionArch.Dto.AuthorDtos
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<ResultAuthorDto>

@{
    ViewData["Title"] = "Yazar Listesi";
    ViewData["SubTitle"] = "Yazar Yönetimi Sayfası";
    Layout = "~/Areas/Admin/Views/AdminLayout/AdmLayout.cshtml";

    int count = (Model.PageNumber - 1) * Model.PageSize;
}


<a class="btn btn-success mb-3" href="@Url.Action("Create", "AdminAuthor", new { area = "Admin" })">Yeni Yazar Oluştur</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Başlık</th>
            <th>Açıklama</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Author in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@Author.fullName</td>
                <td>@Author.description</td>
                <td>
                    <img src="@Author?.imageUrl" alt="@Author?.fullName" style="width: 100px; height: auto;" />
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" href="@Url.Action("Update", "AdminAuthor", new { id = Author?.id, area = "Admin" })">Update</a>
                    <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", "AdminAuthor", new { id = Author?.id, area = "Admin" })"
                       onclick="return confirm('Bu veriyi silmek istediğinizden emin misiniz?');">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@* Paged List Pagination *@
<div class="d-flex justify-content-center">
    @Html.PagedListPager(
    Model,
    page => Url.Action("Index", new { page }),
        new X.PagedList.Mvc.Core.PagedListRenderOptions
        {
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
            UlElementClasses = new[] { "pagination" },
            DisplayLinkToFirstPage = X.PagedList.Mvc.Core.PagedListDisplayMode.Always,
            DisplayLinkToLastPage = X.PagedList.Mvc.Core.PagedListDisplayMode.Always,
            DisplayLinkToPreviousPage = X.PagedList.Mvc.Core.PagedListDisplayMode.Always,
            DisplayLinkToNextPage = X.PagedList.Mvc.Core.PagedListDisplayMode.Always
        }
        )
</div>

